body{
    background-color: bisque;
}

.nav{
padding: 40px;
}


.name{
width: 450px;
height: 150px;
background: rgb(22, 87, 87);
padding: 10px;
margin-inline: 1px;
margin-left: 2px;
margin: 10px;


}

.gender{

padding: 10px;
display: block;

}

.region{

padding: 10px;
}

.ward{

padding: 10px;
}

.localist{

padding: 10px;
}

.room{
    width: 200px;
    height: 500px;
    background: rgba(4, 63, 102, 0.973);
    padding-bottom: 20px;
    margin: 250px;
    border: 20px;
    color: blueviolet;
    margin-top: 40px;
    margin-inline-start: 1px;
    margin: 10px;
    

}
.validation{
    width: 1300px;
    height: 30px;
    background: rgb(45, 137, 180);
    text-align: center;

    
}

.nec{
    width: 50px;
    height: 5;
    background: rgb(192, 191, 192);
    color: white;

}

.nec:hover{
background: greenyellow;
color: azure;
}

.nag{
    width: 600px;
    height: 450px;
    background: rgb(15, 67, 85);
    margin: 10px;
    
}

.system1{
    width:1300px ;
    height:30px ;
    background: skyblue;
    margin: 10px;
    font-family: gergia;
}

.system2{
    width:1100px ;
    height: 100px;
    background: powderblue;
    margin: 10px;
    font-family: Franklin Gothic;
    color: rgb(36, 32, 2);
}

.way1{
padding: 10px;
color: palegreen;
}

.way2{
padding: 10px;
color: blueviolet;
}

.way3{
padding: 10px;
color: brown;
}

.way4{
padding: 10px;
color: chocolate;
}

.way5{
    margin: 15px;
}

.gender{
color: aqua
}

.region{
color: darkgreen;
}

.ward{
color: dodgerblue;
}

.localist{
color: cadetblue;
}


    

