body{
    background: grey;
    stroke-opacity: unset;
}

.nav{
font-size: 20px;
font-weight: bold;
font-family:Georgia;
color:black;

}

.nec{
    width: 800px;
    height: 400px;
    float: center;
    background: rgb(1, 30, 53);
    text-align: center;
    margin-inline: 220px;

    
}


#form{
    padding: 50px;
    
}

.nec input, select{
    width: 50%;
    border-color: blue;
    margin-bottom: 10px;
}

.nec button:hover{
background: darkblue;
color:aliceblue;
}

.link{
    border: 1px;
    background: aqua;
    height: 20px;
    width: 34px;
    padding-top: 5px;



}

.link:hover{
background: red;
color: aqua;
}
